@import "fuentes.css";
@import "bootstrap.css";
@import "header.css";
@import "opciones.css";



html,body{height:100%;width:100%;}
.container{width:90%}
p{text-align:justify}
a{font-size:12px}
.footer{font-size:12px;width:99%;position:absolute;bottom:5px;height:-25px;ox-shadow:0 0 20px #000;text-align:center;color:#FFFFFF;background:rgba(255,255,255,0.3);padding-top:5px;padding-left:5px;padding-right:5px;padding-bottom:5px}
.centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.logo{font-family:'Bebas' !important;font-size:3rem;display:inline-block;margin-left:4rem}
h1,
h2,
h3,
h5,
h6 {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-family: 'Carme',sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}