.datagrid,.formulario table tbody td
{ 
font-size: 10px;

}
.datagrid table
{
border-collapse: collapse;
text-align: center;
width: 100%;
}
.iconosTabla{
 font-size: 15px;
 cursor:pointer;
}
.separacion{
  border-bottom: 1px solid #428bca;
  border-top: 1px solid #428bca;
 font-size: 1px;
}
.pagada{
  background-color:#D2D2D2;
 font-size: 15px;
}

.selected{
  background-color:#69F9AF;
 
}
.pagada .iconosTabla{
 font-size: 15px;
  color:#000000;
}


.datagrid {
	font: normal 11px Arial, Helvetica, sans-serif;
	background: #fff;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	box-shadow: 0 0 5px #000;
	}

.datagrid table td, .datagrid table th
{ padding: 5px 7px;
}
.datagrid table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2175BD;), color-stop(1, #00557F) );
	background:-moz-linear-gradient( center top, #2175BD; 5%, #00557F 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
	background-color:#428bca;
	color:#FFFFFF;
	font-size: 11px;
	font-weight: bold;
	border-left: 1px solid #428bca;
	border-right: 1px solid #428bca;
	text-align: center;
	
	}

.datagrid table tbody td
{ color: black;
/*border-left: 1px solid #E1EEF4;*/
font-size: 11px;
font-weight: normal;

}


.datagrid table tbody .pagada td
{ color:#000000;
/*border-left: 1px solid #E1EEF4;*/
font-size: 11px;
/*font-weight: bold;*/
}



.datagrid table tbody tr:last-child td { border-bottom: none; }
.datagrid table tfoot td div { border-top: 1px solid #006699;}
.datagrid table tfoot td { padding: 5px; font-size: 11px;background-color:#428bca;
	color:#FFFFFF;font-weight: bold; }
.datagrid table tfoot td div{ padding: 2px; }
.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
.datagrid table tfoot  li { display: inline; }
.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }
.datagrid table tfoot ul.active,
.datagrid table tfoot ul a:hover { text-decoration: none;border-color: #00557F; color: #FFFFFF; background: none; background-color:#006699;}


