{% load static from staticfiles %}


<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="es">
<head>
<link rel="stylesheet" href="{% static 'css/boletas.css' %}" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Liquidación</title>
</head>
<body>
<table width="100%" height="971" border="0" cellspacing="0">
  
   <tr>
    <td width="20%" height="93" align="center"><img src="{% static 'munis/' %}{{dirMuni}}/logo_boleta.png" alt="InfoMunicipio"
		  width="62" height="62" /></td>
    <td width="65%" align="center" >
        <p><span class="comuna_nombre">{{sitio.nombre}}</span><br />
  <span class="comuna_datos">{{sitio.direccion}}<br />
        {{sitio.varios1}}</span></p>
    </td>
    <td width="15%" align="right"  class="destino_cuerpo">
      <table width="100" border="0" cellspacing="0">
        <tr>
          <td align="center" class="titulos">Nro. Cuota</td>
        </tr>
        <tr>
          <td class="datos" align="center">{{cuota.id_cuota}}</td>
        </tr>
        <tr>
          <td align="center" class="titulos">Fecha Impresión</td>
        </tr>
        <tr>
          <td class="datos" align="center">{{fecha|date:"d/m/Y"}}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr valign="middle" >
     <td  colspan="3" valign="middle" class="tituloBoleta"> Boleta {{cuota.tributo}}  </td>   
  </tr>
  <tr>
    <td height="49" colspan="3" align="left" >
    <table width="100%" border="0" cellspacing="0">
        <tr>
          <td width="15%" class="titulos">Padrón</td>
          <td colspan="4" class="titulos">Razon Social</td>
          <td colspan="2" class="titulos">Tributo</td>
          <td class="titulos">Código Seguridad</td>
        </tr>
        <tr>
          <td class="datos">{{cuota.padron}}</td>
          <td colspan="4" class="datos">{{cuota.id_responsable.nombre_boleta}}</td>
          <td colspan="2" class="datos">{{cuota.tributo.abreviatura}}</td>
          <td class="datos">{{codseg}}</td>
        </tr>
        <tr>
          <td class="titulos">Año</td>
          <td width="20%" class="titulos">Período</td>
          <td width="25%" class="titulos">Vencim. Orig.</td>
          <td width="25%" class="titulos">Importe Orig.</td>
          <td width="30%" class="titulos">Vencim. Boleta</td>
          <td colspan="1" class="titulos">Punitorios Impresión</td>
          <td colspan="2" class="titulos">Importe Actualizado</td>
        </tr>
        <tr class="datos">
          <td class="datos">{{cuota.anio}}</td>
          <td class="datos">{{cuota.cuota}}</td>
          <td class="datos">{{boleta.vencimiento|date:"d/m/Y"}}</td>
          <td class="datos">$ {{totOriginal.impuesto__sum}}</td>
          <td class="datos">{{vencimiento|date:"d/m/Y"}}</td>
          <td class="datos">$ {{porc1}}</td>
          <td class="datos">$ {{punit1}}</td>
        </tr>
      </table>
      </td>
  </tr>
  <tr height="49" >
  <td height="49" colspan="3" >
   <table width="100%">
    <tr>
      <td width="80%">
      <table width="100%" border="0" cellspacing="0">
        <tr>
          <td width="10%" class="titulos">Código</td>
          <td width="50%" class="titulos">Detalle</td>
          <td width="15%" class="titulos">Base</td>
          <td width="15%" class="titulos">Alícuota <small>{{sitio.alicuota_unidad}}</small></td>
          <td width="15%" class="titulos">Importe</td>
        </tr>
        {% for item in actividades %}
        <tr class="datos_actividad" >
          <td>{{item.id_actividad.codigo}}</td>
          <td>{{item.id_actividad.denominacion}}</td>
          <td>$ {{item.base}}</td>
          <td>{{item.alicuota|floatformat:2}}</td>
          <td>$ {{item.impuesto}}</td>
        </tr>
        {% endfor %}
      </table>
      </td>
      
      <td  width="20%" >
        <table width="100%" border="0" cellspacing="0" >
          <tr>
            <td class="datos_" colspan="2" >Recargo (Orig.)</td>
            <td class="importe_">$ {{boleta.recargo}}</td>
          </tr>
          <tr>
            <td class="datos_" colspan="2">Derecho Neto</td>
            <td class="importe_">$ {{boleta.derecho_neto}}</td>
          </tr>
          <tr>
            <td class="datos_" colspan="2">Tasa Salud Pública</td>
            <td class="importe_">$ {{boleta.tasa_salud_publ}}</td>
          </tr>
          <tr>
            <td class="datos_" colspan="2">{{boleta.adic_detalle}}</td>
            <td class="importe_">$ {{boleta.adic_monto}}</td>
          </tr>
          <tr>
            <td class="datos_" colspan="2">Retenciones</td>
            <td class="importe_">$ {{boleta.retenciones}}</td>
          </tr>
          <tr>
            <td class=" titulos" colspan="2">Subtotal:</td>
            <td class=" titulos importe_">$ {{subtotal}}</td>
          </tr>
        </table>
      </td>
    </tr>
   </table> 
   </td>
  </tr>           
  <tr>
    <td height="20" colspan="3" align="center"  class="CB">
      <img src="data:image/png;base64,{{codbar}}" >      
    </td>
  </tr>
  <tr>
    <td height="30" colspan="3" align="center" valign="middle" class="CB">     
      {{codigo}}
      <br>
      <hr>
      <br>
      </td>
  </tr>   
   
   <tr>
    <td width="20%" height="93" align="center"><img src="{% static 'munis/' %}{{dirMuni}}/logo_boleta.png" alt="InfoMunicipio"
      width="62" height="62" /></td>
    <td width="65%" align="center" >
        <p><span class="comuna_nombre">{{sitio.nombre}}</span><br />
  <span class="comuna_datos">{{sitio.direccion}}<br />
        {{sitio.varios1}}</span></p>
    </td>
    <td width="15%" align="right"  class="destino_cuerpo">
      <table width="100" border="0" cellspacing="0">
        <tr>
          <td align="center" class="titulos">Nro. Cuota</td>
        </tr>
        <tr>
          <td class="datos" align="center">{{cuota.id_cuota}}</td>
        </tr>
        <tr>
          <td align="center" class="titulos">Fecha Impresión</td>
        </tr>
        <tr>
          <td class="datos" align="center">{{fecha|date:"d/m/Y"}}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr></tr>

  <tr>
    <td height="49" colspan="3" align="left" >
    <table width="100%" border="0" cellspacing="0">
        <tr>
          <td width="15%" class="titulos">Padrón</td>
          <td colspan="4" class="titulos">Razon Social</td>
          <td colspan="2" class="titulos">Tributo</td>
          <td class="titulos">Código Seguridad</td>
        </tr>
        <tr>
          <td class="datos">{{cuota.padron}}</td>
          <td colspan="4" class="datos">{{cuota.id_responsable.nombre_boleta}}</td>
          <td colspan="2" class="datos">{{cuota.tributo.abreviatura}}</td>
          <td class="datos">{{codseg}}</td>
        </tr>
        <tr>
          <td class="titulos">Año</td>
          <td width="20%" class="titulos">Período</td>
          <td width="25%" class="titulos">Vencim. Orig.</td>
          <td width="25%" class="titulos">Importe Orig.</td>
          <td width="30%" class="titulos">Vencim. Boleta</td>
          <td colspan="1" class="titulos">Punitorios Impresión</td>
          <td colspan="2" class="titulos">Importe Actualizado</td>
        </tr>
        <tr class="datos">
          <td class="datos">{{cuota.anio}}</td>
          <td class="datos">{{cuota.cuota}}</td>
          <td class="datos">{{boleta.vencimiento|date:"d/m/Y"}}</td>
          <td class="datos">$ {{totOriginal.impuesto__sum}}</td>
          <td class="datos">{{vencimiento|date:"d/m/Y"}}</td>
          <td class="datos">$ {{porc1}}</td>
          <td class="datos">$ {{punit1}}</td>
        </tr>
      </table>
      </td>
  </tr>
  <tr height="49" >
  <td height="49" colspan="3" >
   <table width="100%">
    <tr>
      <td height="49" width="80%">
      <table width="100%" border="0" cellspacing="0">
        <tr>
          <td width="10%" class="titulos">Código</td>
          <td width="50%" class="titulos">Detalle</td>
          <td width="15%" class="titulos">Base</td>
          <td width="15%" class="titulos">Alícuota <small>{{sitio.alicuota_unidad}}</small></td>
          <td width="15%" class="titulos">Importe</td>
        </tr>
        {% for item in actividades %}
        <tr class="datos_actividad" >
          <td>{{item.id_actividad.codigo}}</td>
          <td>{{item.id_actividad.denominacion}}</td>
          <td>$ {{item.base}}</td>
          <td>{{item.alicuota|floatformat:2}}</td>
          <td>$ {{item.impuesto}}</td>
        </tr>
        {% endfor %}
      </table>
      </td>
      
      <td  width="20%" >
        <table width="100%" border="0" cellspacing="0" >
          <tr>
            <td class="datos_" colspan="2" >Recargo/Punitorios</td>
            <td class="importe_">$ {{boleta.recargo}}</td>
          </tr>
          <tr>
            <td class="datos_" colspan="2">Derecho Neto</td>
            <td class="importe_">$ {{boleta.derecho_neto}}</td>
          </tr>
          <tr>
            <td class="datos_" colspan="2">Tasa Salud Pública</td>
            <td class="importe_">$ {{boleta.tasa_salud_publ}}</td>
          </tr>
          <tr>
            <td class="datos_" colspan="2">{{boleta.adic_detalle}}</td>
            <td class="importe_">$ {{boleta.adic_monto}}</td>
          </tr>
          <tr>
            <td class="datos_" colspan="2">Retenciones</td>
            <td class="importe_">$ {{boleta.retenciones}}</td>
          </tr>
          <tr>
            <td class=" titulos" colspan="2">Subtotal:</td>
            <td class=" titulos importe_">$ {{subtotal}}</td>
          </tr>
        </table>
      </td>
    </tr>
   </table> 
   </td>
  </tr>           
  <tr>
    <td height="20" colspan="3" align="center"  class="CB">
      <img src="data:image/png;base64,{{codbar}}">      
    </td>
  </tr>
  <tr>
    <td height="30" colspan="3" align="center" valign="middle" class="CB">     
      {{codigo}}
      <br>
      <hr>
      <br>
      </td>
  </tr>   

<tr>
    <td width="20%" height="93" align="center"><img src="{% static 'munis/' %}{{dirMuni}}/logo_boleta.png" alt="InfoMunicipio"
      width="62" height="62" /></td>
    <td width="65%" align="center" >
        <p><span class="comuna_nombre">{{sitio.nombre}}</span><br />
    <span class="comuna_datos">{{sitio.direccion}}<br />
        {{sitio.varios1}}</span></p>
    </td>
    <td width="15%" align="right"  class="destino_cuerpo">
      <table width="100" border="0" cellspacing="0">
        <tr>
          <td align="center" class="titulos">Nro. Cuota</td>
        </tr>
        <tr>
          <td class="datos" align="center">{{cuota.id_cuota}}</td>
        </tr>
        <tr>
          <td align="center" class="titulos">Fecha Impresión</td>
        </tr>
        <tr>
          <td class="datos" align="center">{{fecha|date:"d/m/Y"}}</td>
        </tr>        
      </table>
    </td>
  </tr>
  <tr></tr>

  <tr>
    <td height="49" colspan="3" align="left" >
    <table width="100%" border="0" cellspacing="0">
        <tr>
          <td width="15%" class="titulos">Padrón</td>
          <td colspan="4" class="titulos">Razon Social</td>
          <td colspan="2" class="titulos">Tributo</td>
          <td class="titulos">Código Seguridad</td>
        </tr>
        <tr>
          <td class="datos">{{cuota.padron}}</td>
          <td colspan="4" class="datos">{{cuota.id_responsable.nombre_boleta}}</td>
          <td colspan="2" class="datos">{{cuota.tributo.abreviatura}}</td>
          <td class="datos">{{codseg}}</td>
        </tr>
        <tr>
          <td class="titulos">Año</td>
          <td width="20%" class="titulos">Período</td>
          <td width="25%" class="titulos">Vencim. Orig.</td>
          <td width="25%" class="titulos">Importe Orig.</td>
          <td width="30%" class="titulos">Vencim. Boleta</td>
          <td colspan="1" class="titulos">Punitorios Impresión</td>
          <td colspan="2" class="titulos">Importe Actualizado</td>
        </tr>
        <tr class="datos">
          <td class="datos">{{cuota.anio}}</td>
          <td class="datos">{{cuota.cuota}}</td>
          <td class="datos">{{boleta.vencimiento|date:"d/m/Y"}}</td>
          <td class="datos">$ {{totOriginal.impuesto__sum}}</td>
          <td class="datos">{{vencimiento|date:"d/m/Y"}}</td>
          <td class="datos">$ {{porc1}}</td>
          <td class="datos">$ {{punit1}}</td>
        </tr>
      </table>
      </td>
  </tr>
  <tr height="49" >
  <td height="49" colspan="3" >
   <table width="100%">
    <tr>
      <td height="49" width="80%">
      <table width="100%" border="0" cellspacing="0">
        <tr>
          <td width="10%" class="titulos">Código</td>
          <td width="50%" class="titulos">Detalle</td>
          <td width="15%" class="titulos">Base</td>
          <td width="15%" class="titulos">Alícuota <small>{{sitio.alicuota_unidad}}</small></td>
          <td width="15%" class="titulos">Importe</td>
        </tr>
        {% for item in actividades %}
        <tr class="datos_actividad" >
          <td>{{item.id_actividad.codigo}}</td>
          <td>{{item.id_actividad.denominacion}}</td>
          <td>$ {{item.base}}</td>
          <td>{{item.alicuota|floatformat:2}}</td>
          <td>$ {{item.impuesto}}</td>
        </tr>
        {% endfor %}
      </table>
      </td>
      
      <td  width="20%" >
        <table width="100%" border="0" cellspacing="0" >
          <tr>
            <td class="datos_" colspan="2" >Recargo/Punitorios</td>
            <td class="importe_">$ {{boleta.recargo}}</td>
          </tr>
          <tr>
            <td class="datos_" colspan="2">Derecho Neto</td>
            <td class="importe_">$ {{boleta.derecho_neto}}</td>
          </tr>
          <tr>
            <td class="datos_" colspan="2">Tasa Salud Pública</td>
            <td class="importe_">$ {{boleta.tasa_salud_publ}}</td>
          </tr>
          <tr>
            <td class="datos_" colspan="2">{{boleta.adic_detalle}}</td>
            <td class="importe_">$ {{boleta.adic_monto}}</td>
          </tr>
          <tr>
            <td class="datos_" colspan="2">Retenciones</td>
            <td class="importe_">$ {{boleta.retenciones}}</td>
          </tr>
          <tr>
            <td class=" titulos" colspan="2">Subtotal:</td>
            <td class=" titulos importe_">$ {{subtotal}}</td>
          </tr>
        </table>
      </td>
    </tr>
   </table> 
   </td>
  </tr>           
   
</table>
</body>
</html>
