{% load static from staticfiles %}


<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="es">
<head>
<link rel="stylesheet" href="{% static 'css/boletas.css' %}" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Liquidación Boletas OnLine</title>
</head>
<body>
<table width="100%" height="1077" border="0" align="center" cellspacing="0">
  
  <tr>
    <td width="200" height="93" align="center"><img src="{% static 'munis/' %}{{dirMuni}}/logo_boleta.png" alt="InfoMunicipio"
		  width="62" height="62" /></td>
  <td width="800"  align="center" >
      <p><span class="comuna_nombre">{{sitio.nombre}}</span><br />
  <span class="comuna_datos">{{sitio.direccion}}<br />
     {{sitio.varios1}}</span></p>    </td>
    <td align="right" width="200"  >
      <table width="80" border="0" align="right" cellspacing="0" colspan="4">
        <tr>
          <td height="15" align="center"  class="titulos">Nº Liquidación</td>
        </tr>
        <tr>
          <td class="datos" align="center">{{liq.id_liquidacion}}</td>
        </tr>
        <tr>
          <td height="15" align="center" class="titulos">Fecha Impresión</td>
        </tr>
        <tr>
          <td class="datos" align="center">{{liq.fecha|date:"d/m/Y"}}</td>
        </tr>
     </table>     </td>
  </tr>
   
  <tr valign="middle" >
     <td  colspan="3" valign="middle" class="tituloBoleta"> BOLETA LIQUIDACION  </td>   
  </tr>
  
  <tr>
      <td height="49" colspan="3" align="left" >
       <table width="100%" border="0" cellspacing="0">
        <tr>
          <td width="20%" colspan="1" class="titulos">Nº Unidad</td>
          <td colspan="1" class="titulos">Nº Padrón</td>
          
          <td colspan="3" class="titulos">Razon Social</td>
        </tr>
        <tr>
          <td colspan="1" class="datos">{{liq.id_unidad}}</td>
          <td colspan="1" class="datos">{{cuota.padron}}</td>
          
          <td colspan="3" class="datos">{{cuota.id_responsable.nombre_boleta}}</td>
        </tr>
        <tr>
          <td colspan="1" class="titulos">Vencimiento</td>          
          <td colspan="1" class="titulos">Concepto</td>
          <td colspan="3" class="titulos">Domicilio</td>          
        </tr>
        <tr>
          <td colspan="1" class="datos">{{liq.vencimiento|date:"d/m/Y"}}</td>          
          <td colspan="1" class="datos">{{cuota.tributo.abreviatura}}</td>
          <td colspan="3" class="datos">{{cuota.id_responsable.calle}} {{cuota.id_responsable.numero}} {{cuota.id_responsable.depto}} {{cuota.id_responsable.piso}}</td>
        </tr>
        <tr>         
          <td colspan="1" class="titulos">Nominal</td>
          <td colspan="3" class="titulos">Acc. x Mora</td>
          <td colspan="1" class="titulos">Total a Pagar</td>             
        </tr>
        <tr class="datos">          
          <td colspan="1" class="datos">$ {{liq.nominal}}</td>
          <td colspan="3" class="datos">$ {{liq.interes}}</td>
          <td colspan="1" class="importe">$ {{liq.total}}</td>
        </tr>
      </table>      </td>
  </tr>
  <tr height="49" >
  <td height="49" colspan="3" >
   <table width="100%">
    <tr>
      <td width="100%">
      <table width="100%" border="0" cellspacing="0">
        <tr>
          <td width="30%" class="titulos">Cantidad Cuotas</td>
          <td width="100%" class="titulos">Detalle Cuotas a Pagar</td>     
        </tr>
          <tr class="datos_cuotas" >
            <td valign="top" align="center">{{liq_ctas.count}}</td>
            <td>{{descrCtas}}</td>
          </tr>
      </table>      </td>
     </tr>
    </table>  </td>
  </tr> 
  <tr height="49" >
  <td height="49" colspan="3" >&nbsp;</td>
  </tr>           
  <tr>
    <td height="20" colspan="3" align="center"  class="CB">
      <img src="data:image/png;base64,{{codbar}}" >    </td>
  </tr> 
  <tr>
    <td height="80" colspan="3" align="center" valign="middle" class="CB">     
      {{codigo}}
      <br>
      <hr>
      <br>      </td>
   </tr>   
   

 <tr>
      <td height="49" colspan="3" align="left" >
       <table width="100%" border="0" cellspacing="0">
        <tr>
          <td width="20%" colspan="1" class="titulos">Nº Unidad</td>
          <td colspan="1" class="titulos">Nº Padrón</td>
          
          <td colspan="3" class="titulos">Razon Social</td>
        </tr>
        <tr>
          <td colspan="1" class="datos">{{liq.id_unidad}}</td>
          <td colspan="1" class="datos">{{cuota.padron}}</td>
          
          <td colspan="3" class="datos">{{cuota.id_responsable.nombre_boleta}}</td>
        </tr>
        <tr>
          <td colspan="1" class="titulos">Vencimiento</td>          
          <td colspan="1" class="titulos">Concepto</td>
          <td colspan="3" class="titulos">Domicilio</td>          
        </tr>
        <tr>
          <td colspan="1" class="datos">{{liq.vencimiento|date:"d/m/Y"}}</td>          
          <td colspan="1" class="datos">{{cuota.tributo.abreviatura}}</td>
          <td colspan="3" class="datos">{{cuota.id_responsable.calle}} {{cuota.id_responsable.numero}} {{cuota.id_responsable.depto}} {{cuota.id_responsable.piso}}</td>
        </tr>
        <tr>         
          <td colspan="1" class="titulos">Nominal</td>
          <td colspan="3" class="titulos">Acc. x Mora</td>
          <td colspan="1" class="titulos">Total a Pagar</td>             
        </tr>
        <tr class="datos">          
          <td colspan="1" class="datos">$ {{liq.nominal}}</td>
          <td colspan="3" class="datos">$ {{liq.interes}}</td>
          <td colspan="1" class="importe">$ {{liq.total}}</td>
        </tr>
      </table>      </td>
  </tr>
  <tr height="49" >
  <td height="49" colspan="3" >
   <table width="100%">
    <tr>
      <td width="100%">
      <table width="100%" border="0" cellspacing="0">
        <tr>
          <td width="30%" class="titulos">Cantidad Cuotas</td>
          <td width="100%" class="titulos">Detalle Cuotas a Pagar</td>     
        </tr>
          <tr class="datos_cuotas" >
            <td valign="top" align="center">{{liq_ctas.count}}</td>
            <td>{{descrCtas}}</td>
          </tr>
      </table>      </td>
     </tr>
    </table>  </td>
  </tr> 
  <tr height="49" >
  <td height="49" colspan="3" >&nbsp;</td>
  </tr>           
  <tr>
    <td height="20" colspan="3" align="center"  class="CB">
      <img src="data:image/png;base64,{{codbar}}" >    </td>
  </tr> 
  <tr>
    <td height="80" colspan="3" align="center" valign="middle" class="CB">     
      {{codigo}}
      <br>
      <hr>
      <br>      </td>
   </tr>   
   
    <tr>
      <td height="49" colspan="3" align="left" >
       <table width="100%" border="0" cellspacing="0">
        <tr>
          <td width="20%" colspan="1" class="titulos">Nº Unidad</td>
          <td colspan="1" class="titulos">Nº Padrón</td>
          
          <td colspan="3" class="titulos">Razon Social</td>
        </tr>
        <tr>
          <td colspan="1" class="datos">{{liq.id_unidad}}</td>
          <td colspan="1" class="datos">{{cuota.padron}}</td>
          
          <td colspan="3" class="datos">{{cuota.id_responsable.nombre_boleta}}</td>
        </tr>
        <tr>
          <td colspan="1" class="titulos">Vencimiento</td>          
          <td colspan="1" class="titulos">Concepto</td>
          <td colspan="3" class="titulos">Domicilio</td>          
        </tr>
        <tr>
          <td colspan="1" class="datos">{{liq.vencimiento|date:"d/m/Y"}}</td>          
          <td colspan="1" class="datos">{{cuota.tributo.abreviatura}}</td>
          <td colspan="3" class="datos">{{cuota.id_responsable.calle}} {{cuota.id_responsable.numero}} {{cuota.id_responsable.depto}} {{cuota.id_responsable.piso}}</td>
        </tr>
        <tr>         
          <td colspan="1" class="titulos">Nominal</td>
          <td colspan="3" class="titulos">Acc. x Mora</td>
          <td colspan="1" class="titulos">Total a Pagar</td>             
        </tr>
        <tr class="datos">          
          <td colspan="1" class="datos">$ {{liq.nominal}}</td>
          <td colspan="3" class="datos">$ {{liq.interes}}</td>
          <td colspan="1" class="importe">$ {{liq.total}}</td>
        </tr>
      </table>      </td>
  </tr>
  <tr height="49" >
  <td height="49" colspan="3" >
   <table width="100%">
    <tr>
      <td width="100%">
      <table width="100%" border="0" cellspacing="0">
        <tr>
          <td width="30%" class="titulos">Cantidad Cuotas</td>
          <td width="100%" class="titulos">Detalle Cuotas a Pagar</td>     
        </tr>
          <tr class="datos_cuotas" >
            <td valign="top" align="center">{{liq_ctas.count}}</td>
            <td>{{descrCtas}}</td>
          </tr>
      </table>      </td>
     </tr>
    </table>  </td>
  </tr> 
  <tr height="49" >
  <td height="49" colspan="3" >&nbsp;</td>
  </tr>           
  <tr>
    <td height="20" colspan="3" align="center"  class="CB">
      <img src="data:image/png;base64,{{codbar}}" >    </td>
  </tr> 
  <tr>
    <td height="80" colspan="3" align="center" valign="middle" class="CB">     
      {{codigo}}      </td>
   </tr>   
</table>
</body>
</html>
