{% extends "cuotas.html" %}

{% load static from staticfiles %}
{% load filtros %}


{% block extra_js %}
 <script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
{% endblock %}
{% block main %}
<div class="col-xs-12 ">

<form action="." method="post" >
            
            {% csrf_token %}
           
            {{ form.id_padron}}
            {{ form.anio }}
            {{ form.mes}}
            {{ form.vencimiento}}
            {{ form.total}}
            {{form.adic_detalle}}

    {% if form.errors %}
    {{form.errors}}
    {% endif %}
    <div class="list-group2">
        <a  class="list-group-item active">
            <b>{{titulo}}</b>
        
            <b class="pull-left">Padrón: {{cuota.padron}}</b>
            <b class="pull-right"> Período: {{cuota.cuota}} / {{cuota.anio}}</b>
            
        </a>
    </div>
    <div class=" formulario datagrid">
    <table>      
      {# Campos para almacenar y pasar valores a los JS, no se llenan #}
      <input type='hidden' name="id_cuota" value="{{ cuota.id_cuota }}" />
      <input type='hidden' name="alicuota_coeficiente" value="{{ sitio.alicuota_coeficiente }}" />
      <input type='hidden' name="minimo_boleta" value="{{ minimo_boleta }}" />
      {{ actividades_formset.management_form }}  
      {% for form in actividades_formset.forms %}
        {% if forloop.first %}
            <thead>
                <th>Detalle Actividad</th>
                <th>Base</th>  
                <th>Alícuota <small>{{sitio.alicuota_unidad}}</small></th>  
                <th>Mínimo Exigible</th>  
                <th>Monto Total</th>  
            </thead>
            <tfoot align='right'>
                <tr>
                    <td align="left" colspan="2">Mínimo Boleta: $ {{ minimo_boleta }}</td><td></td> 
                    
                    <td colspan="2">SubTotal: $ <span class="Subtotal">0</span></td>  
                </tr>
            </tfoot>       
            <tbody class="form-actividades" >
        {% endif %}
        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
        <tr>  
            
            <td> 
                {{form.activ_descr.value}} 
            </td>
            <td>
                    
                    <div class="input-group2">
                      <span class="input-group-addon">$</span>
                      {{form.base|default_if_none:"0" |addcss:"form-control "}} 
                    </div>
                    
                    {{ form.base.errors.as_ul }}
            </td>
            <td> {{form.alicuota|default_if_none:"0,00" |addcss:"input-group2 form-control-corto form-control"}} {{ form.alicuota.errors.as_ul }}</td>
            <td> <div class="input-group2">
                      <span class="input-group-addon">$</span>
                      {{form.minimo|default_if_none:"0,00" |addcss:"form-control"}}
                    </div>  {{ form.minimo.errors.as_ul }}</td>
            <td><b> $ <span class="totalActiv_{{forloop.counter0}}">{{form.impuesto.value}}</span> </b></td>
        </tr>


        {% if forloop.last %}             
        
            </tbody>            
        {% endif %}
       
    {% endfor %}
    
    </table> 
    <table>      
            <tfoot align='right'>
                <tr>
                    <td>
                    <a class="btn btn-default btn-md pull-left" href="#" role="button" id="recalcular"><i class="fa fa-refresh"></i> Recalcular</a>
                    </td>

                    
                    <td  colspan="2" ><h4><b>Total a Pagar:  $ <span class="totalFinal">0</span></b></h4></td>  
                </tr>
            </tfoot>       
            <tbody class="form-adicionales" align='right'>
                <tr> <td></td><td></td>
                <td colspan"2">
                     <div class="input-group">
                      <span class="input-group-addon">Recargo/Punitorios <strong>$</strong></span>
                      {{form.recargo|addcss:"form-control"}}
                      {{form.recargo.errors.as_ul }}
                    </div>  
                </td>
                </tr>

                <tr><td></td><td></td>
                   <td colspan"2">
                    <div class="input-group">
                      <span class="input-group-addon">Derecho Neto <strong>$</strong></span>
                      {{form.derecho_neto|addcss:"form-control"}}
                      {{form.derecho_neto.errors.as_ul }}
                    </div> 
                   </td>
                </tr>
                <tr><td></td><td></td>
                   <td colspan"2">
                    <div class="input-group">
                      <span class="input-group-addon">Tasa Salud Pública <strong>$</strong></span>
                      {{form.tasa_salud_publ|addcss:"form-control"}}
                      {{form.tasa_salud_publ.errors.as_ul }}
                    </div> 
                   </td>                    
                </tr>
                <tr><td></td><td></td>
                   <td colspan"2">
                   <div class="input-group">
                     {{form.adic_select|addcss:"form-control "}}                    
                    <span class="input-group-addon"><strong>$</strong></span>
                      {{form.adic_monto|addcss:"form-control "}}
                      {{form.adic_monto.errors.as_ul }}
                    </div> 
                    </div>
                   </td>                    
                </tr>
                <tr><td></td><td></td>
                   <td colspan"2">
                    <div class="input-group">
                      <span class="input-group-addon">Retenciones <strong>$</strong></span>
                      {{form.retenciones|addcss:"form-control"}}
                      {{form.retenciones.errors.as_ul }}
                    </div> 
                   </td>                    
                </tr>                
            </tbody>            
    </table> 
    </div> 
    <br> 
    <input type="submit" name="submit" onclick="return guardar();" value="Guardar" class="btn btn-primary pull-right">        

</form>
        
</div>

{% endblock main %}

