{% extends "index.html" %}

{% block extra_js %}

{% endblock %}

{% block main %}

<div class="col-xs-12 ">
    
    <div class="list-group2">
        <a href="#" class="list-group-item active">
            <b>Listado Completo de DDJJ Generadas del Padrón {{ padron.padron }} ({{ padron.tributo__abreviatura }})</b>
        </a>
    </div>
    
    <div class="datagrid">
    <table class="table-condensed table-responsive">
    <thead>
    	<tr class="info">
    		<th>Año</th>
    		<th>Total Imponible</th>
    		<th>Total Impuestos</th>
    		<th>Fecha Carga</th>
            <th> </th>
    	</tr>
    </thead>
    <tbody>
       
        <div id="cuotas">
    	{% for item in ddjj %}
    	<tr {% if item.fecha_confirmado %}
            class="pagada"
            {% endif %} >

            <td>{{ item.anio }}</td>
            <td><strong>$ {{ item.total_imponible }}</strong></td>
            <td><strong>$ {{ item.total_impuestos }}</strong></td>
            <td>{{ item.fecha_carga|date:"d/m/Y" }}</td>
            <td>

            </td>

    	</tr>
      	{% endfor %}
      </div>
    </tbody>
    </table>   
    </div>
        
                <div class="listado-pie">
                 
                 {% if ddjj %} 
                    <b>{{ddjj.count}}</b> ddjj encontradas.                
                {% else %}
                    <b>No existen ddjj para el padrón seleccionado.</b>
                {% endif %}
                </div>


    <div >
        <ul class="list-group">
            <a  class="list-group-item active"><b>Seleccione Año a Presentar</b></a>
            <li class="list-group-item centered">
                <select name="menuAnio" id="menuAnio" onchange="location = this.options[this.selectedIndex].value;">
                    {% for i in anios %}                  
                        <option value="{% url 'drei_ddjja_liq' idp i.0 %}">{{ i.1 }}</option>
                    {% endfor %}
                </select>
            </li>
           
        </ul>
    </div>
</div>
{% endblock main %}

{% block menuizq %}
<br>
<ul class="list-group">
    <a  class="list-group-item active"><b>Representante/Titular del Padrón</b></a>
    <li class="list-group-item"><b>{{responsable.pk}} - {{responsable.nombre}}</b></li>
</ul>

{% endblock menuizq %}




