<!DOCTYPE HTML>
<html>

<head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
        {% load static from staticfiles %}
        <title>{% block title %}Sistema de Liquidación de Boletas OnLine{% endblock %}</title>
        <META NAME="Description" CONTENT="{% block description %}Sistema de Boletas WEB{% endblock %}">
        <link rel="shortcut icon" href="{% static 'images/logo.png' %}"  type="image/png">
        
        <link href="http://fonts.googleapis.com/css?family=Carme" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Gafata" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" >
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/table.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/modals.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'alertifyjs/css/alertify.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'alertifyjs/css/themes/bootstrap.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'bootstrap/css/jquery-ui.css' %}" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="{% static 'css/colorbox.css' %}" rel="stylesheet" type="text/css">
    	{% block extra_css %}
    	{% endblock %}

        <script src="{% static 'bootstrap/js/html5shiv.js' %}" type="text/javascript"></script>
        <script src="{% static 'bootstrap/js/respond.min.js' %}" type="text/javascript"></script>
        <script src="//code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script src="{% static 'js/libs/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.5.0/less.min.js" type="text/javascript"></script>
        <script src="{% static 'bootstrap/js/jquery-ui.js' %}" type="text/javascript" ></script>
        <script src="{% static 'bootstrap/js/sorttable.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/filtros.js' %}" type="text/javascript"></script>
        
        <script src="{% static 'alertifyjs/alertify.js' %}" type="text/javascript"></script>
        <script type="text/javascript" src="{% static 'js/jquery.colorbox-min.js' %}"></script>
        {% block extra_js %}
        {% endblock %}
        
<script>
   $(document).ready(function(){
        $("#codigoInternet").colorbox({inline:true, width:"650"});             

    });
</script>
</head>

<body>
    {% if user.is_authenticated %}
      <div class="container2 container">    
          <div class="row">
            {% include "header.html" %}
          </div>
    {% else %} 
    <div class="container">          
    {% endif %}         
      {% block principal %}          
      {% endblock principal %}
    </div>
    
</body>

</html>