{% extends "index.html" %}
{% load static from staticfiles %}
{% block extra_js %}
    {% if sitio.liquidacion_web != 'N' %}
        <script src="{% static 'js/scriptsLiq.js' %}" type="text/javascript"></script>
    {% endif%}
{% endblock %}

{% block main %}

<div class="col-xs-12 col-md-12 ">
    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{ message }}</strong>
                
                </div>
            {% endfor %}
    {% endif %}
    <div class="list-group2">
        <a href="#" class="list-group-item active">
            <b>Listado Completo de Cuotas del padrón {{ padron.padron }} ({{ padron.tributo__abreviatura }}) - {{responsable.nombre}} </b>
            {% if user.is_staff %} IdPadr: {{ padron.id_padron }}{% endif %}
            
        </a>


        </div>
    <input class="hidden" value="{{ padron.id_padron }}" id="id_padron"/>
    {% if cuotas %}
    <div class="datagrid" style="overflow: auto; width : 100%; height : 600px;">
    <table id="tablaCuotas" class="table-condensed table-responsive">
    <thead>
    	<tr class="info">
            <th>{% if sitio.liquidacion_web != 'N' %}
                <input type="checkbox" id="checkall" title="Seleccionar Todas"/>
                {% endif %}
            </th>
    		<th>Año</th>
    		<th>Período</th>
    		<th>Tributo</th>
    		<th>Estado</th>
    		<th>Vencimiento</th>
            <th>2º Vencimiento</th>
    		<th>Fecha Pago</th>
        		{% if padron.tributo == 6 %}
        		    <th>Monto Mínimo</th>
                    <th>Monto Liquidado</th>
        		{% else %}
        		    <th>Deuda sin Punitorios</th>
                    <th></th>
        		{% endif %}
                <th></th>
            
    	</tr>
    </thead>
    <tbody class="detalleCuotas">
        <div id="cuotas">
    	{% for item in cuotas %}
    	<tr {% if item.fechapago or item.estado >= 100 %}
            class="pagada">
            <td></td>
            {% else %}
            >
            <td>
             {% if sitio.liquidacion_web != 'N' %}
                {% if padron.tributo == 6 %}
                   {% if item.boleta %}
                    <input type="checkbox" class='tildado' id="chk_{{forloop.counter0}}" value="{{ item.saldo }}"/>
                   {% endif %}
                {% else %}
                    <input type="checkbox" class='tildado' id="chk_{{forloop.counter0}}" value="{{ item.saldo }}"/>
                {% endif %}
             {% endif %}
            </td>
            {% endif %}
            <td>{{ item.anio }}</td>
            <td>{{ item.cuota }}</td>
            <td>{{ item.tributo.get_abreviatura }}</td>
            <td>
                {% if item.fechapago or item.estado >= 100 %}
                   <strong>{{ item.get_estado }}<strong>
                {% else %}
                   {{ item.get_estado }}
                {% endif %}                
            </td>
            <td>{{ item.vencimiento|date:"d/m/Y" }}</td>
            <td>{{ item.segundo_vencimiento|date:"d/m/Y" }}</td>
            <td>{{ item.fechapago|date:"d/m/Y" }}</td>
            <td>$ {{ item.saldo }}<input class="hidden" value="{{ item.saldo }}" id="saldo_chk_{{forloop.counter0}}"/></td>
            <td>
                {% if item.boleta %}
                $ {{ item.total }}<input class="hidden" value="{{ item.total }}" id="total_chk_{{forloop.counter0}}"/>
                {% endif %}
            </td>

            <td>
                <input class="hidden" value="{{item.pk}}" id="chk_{{forloop.counter0}}_id_cuota"/>
                {% if padron.tributo == 6 %}
                    {% if not item.fechapago %}
                      {% if item.boleta %}                       
                        <a  title="Imprimir Boleta {{ item.cuota }}/{{ item.anio }}" onClick="window.open('{% url 'imprimirPDF' item.pk %}');" >
                        <span class="glyphicon glyphicon-print iconosTabla"></span></a>
                        <a class="cuota" id="{{item.pk}}" title="Rectificar Período DReI {{ item.cuota }}/{{ item.anio }}" href="{% url 'drei_reliquidarBoleta' item.pk %}"><span class="glyphicon glyphicon-registration-mark iconosTabla"></span></a>
                      {% else %}
                        <a class="cuota" id="{{item.pk}}" title="Liquidar Período DReI {{ item.cuota }}/{{ item.anio }}" href="{% url 'drei_liquidarBoleta' item.pk %}">
                        <span class="glyphicon glyphicon-pencil iconosTabla"></span></a>

                      {% endif %}
                    {% else %}
                        <a title="Boleta Paga" onClick="alertify.set('notifier','position', 'top-right'); alertify.error('La cuota {{ item.cuota }}/{{ item.anio }} ya fué pagada!');" >
                        <span class="glyphicon glyphicon-ok-circle iconosTabla"></span></a>
                    {% endif %}
                
                {% elif item.estado >= 100 %}
                    <i class="glyphicon glyphicon-ok-circle iconosTabla" aria-hidden="true" title="Boleta en Estado Judicial" onClick="alertify.set('notifier','position', 'top-right');alertify.error('La cuota {{ item.cuota }}/{{ item.anio }} está en estado Judicial! (contáctese con el municipio)');"></i>

                {% elif not item.fechapago  %}
                    <a  title="Imprimir Boleta {{ item.cuota }}/{{ item.anio }}" onClick="window.open('{% url 'imprimirPDF' item.pk %}');" >
                    <span class="glyphicon glyphicon-print iconosTabla"></span></a>
                
                {% else %}
                    <i class="glyphicon glyphicon-ok-circle iconosTabla" aria-hidden="true" title="Boleta Paga" onClick="alertify.set('notifier','position', 'top-right');alertify.error('La cuota {{ item.cuota }}/{{ item.anio }} ya fué pagada! {{item.pk}}');"></i>
                {% endif %}
            </td>

    	</tr>
      	{% endfor %}
      </div>
      	
    </tbody>
    </table>
    </div>
                <div class="listado-pie">                    
                  <b>{{cuotas.count}}</b> cuotas encontradas.
                </div>
    {% else %}
            <div class="listado-pie">
                  <b>No existen cuotas para el período seleccionado.</b>
                </div>

    {% endif %}
</div>


{% endblock main %}

{% block menuizq %}

{% if padron %}
<br>
   <ul class="list-group">
    <a  class="list-group-item active"><b>Buscar Cuotas por Padrón/Año</b></a>

    <li class="list-group-item">        
         <div class="btn-group">            
                <button id="idp" value="{{ padron.id_padron }}" type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                    {{ padron.padron }} ({{ padron.tributo__abreviatura }}) <b class="caret"></b>
                </button>
              <ul id="menuidp" class="dropdown-menu filtros" role="menu">
                
                {% if sitio.ver_unico_padron == 'S' %}
                    <li><a val="{{ padron.id_padron }}">{{ padron.padron }} ({{ padron.tributo__abreviatura }})</a></li>
                {% else %}                
                    {% for idp in padr %}
                       <li><a val="{{ idp.id_padron }}">{{ idp.padron }} ({{ idp.tributo__abreviatura }})</a></li>
                    {% endfor %}
                {% endif %}
              </ul>             
         </div>
           
        <div class="btn-group pull-right">
                 <button id="anio" value="2015" type="button" class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown">
                    {% if not anio %}
                     2015
                    {% else %}
                    {{anio}}
                    {% endif %}
                    <b class="caret"></b>
                </button>
              <ul id="menuanio" class="dropdown-menu filtros" role="menu">
                <li><a val="2016">2016</a></li>
                <li><a val="2015">2015</a></li>
                <li><a val="2014">2014</a></li>
                <li><a val="2013">2013</a></li>
                <li><a val="2012">2012</a></li>
                <li><a val="2011">2011</a></li>
                <li><a val="2010">2010</a></li>
                <li><a val="0">Todos</a></li>
              </ul>
            </div>     
    </li>  
</ul>

{% endif %}
{% if sitio.liquidacion_web != 'N' %}
    <br>
    <ul class="list-group">
        <a  class="list-group-item active"><b>Liquidación</b></a>
        <li class="list-group-item">  Cuotas Seleccionadas <span class="badge badge-info" id="montoLiqCant"> 0</span></li>
        <li class="list-group-item">  Total sin punitorios <span class="badge badge-info" >$ <span id="montoLiq"> 0.00</span></span></li>
        <li class="list-group-item"> 
        <button id="generarLiq" type="button" class="btn btn-primary btn-xs"><i class="fa fa-save"></i> Generar e Imprimir</button>
        </li>

    </ul>
{% endif %}
{% endblock menuizq %}




