{% extends "index.html" %}
{% load bootstrap3 %}

{% block main %}
<div class="col-md-7 ">

    <div class="list-group2">
        <a href="#" class="list-group-item active">
            <b>Modificación de Datos del Estudio</b>         
        </a>
   </div>
   <form method="post" class="form" class="form">
    {% csrf_token %}
    {% bootstrap_form form  %}
    {% buttons %}
        <button type="submit" class="btn btn-primary pull-right">
           Guardar
        </button>
    {% endbuttons %}
	</form>
</div>
{% endblock main %}
