            {% if not user.is_authenticated %}
                <li class="divider-vertical"></li>
                <li>
                  <a href="#" onclick="document.getElementById('username').focus(); return false;" role="button" data-toggle="modal"><span class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-log-in"> </i>  Ingresar</span>
                  </a>
                </li>
            {% else %}
                <li class="divider-vertical"></li>
                <li>
                    <div class="btn-group navbar-btn">
                      <a href="/logout/" type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-user"></i>  Desconectar "{{ user.first_name|upper }}"</a>
                      <a href="#" type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#modal_usuario" role="button" data-toggle="modal">Información sobre <b>{{ user.first_name|upper }}</b></a></li>
                        {% if estudio %}
                        <li><a href="{% url 'estudio_editar' estudio.id_estudioc %}" role="button" >Editar Datos del Estudio</a></li>
                        {% endif %}

                      </ul>
                    </div>
                </li>
            {% endif %}


