{% load static from staticfiles %}
<!-- Modal Login-->
<div id="myModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
 <div class="modal-content">
        <div class="modal-header">
         <!-- <h2>Ingrese su usuario y contraseña</h2> -->
            <img class="profile-img" src="{% static 'munis/' %}{{dirMuni}}/logo_muni.png"
                alt="">
        </div>
        <div class="modal-body">
            <form class="form-signin" action="/login/" method="post">
            {% csrf_token %}
            <input type="text" name="username" class="form-control" placeholder="Usuario" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Contraseña">
            <ul class="list-group formularios">
                <a  class="list-group-item active" href="#modal_codigo" role="button" data-toggle="modal">¿Cómo obtener el Código? <i class="glyphicon glyphicon-question-sign pull-right"> </i></a>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-md btn-primary btn-block" name="login" type="submit">
               <strong>Ingresar</strong></button>
            </form>
        </div>
  </div>
 </div>
</div>


<!-- Modal -->
<div id="modal_usuario" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="lblmodal_usuario" aria-hidden="true">
<div class="modal-dialog">
 <div class="modal-content">
    <div class="modal-header centered">
    	
    	<h5>Información del Usuario</h5>
    </div>

    <div class="modal-body">
    	<p>Nombre: <b>{{ user.first_name }}</b></p>
    	<p>Usuario: <b>{{ user.username }}</b></p>
        <p>Email: <b>{{ user.email }}</b></p>
    	<p>Último Acceso: <b>{{ user.last_login }}</b></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary " data-dismiss="modal">Cerrar</button>
    </div>
 </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Modal -->
<div style="display:none">
<div id="modal_codigo" tabindex="-1" role="dialog" aria-labelledby="lblmodal_codigo" aria-hidden="true">
<div class="cboxPhoto">
       <img class="" src="{% static 'images/codigointernet.png' %}" alt="codigoInternet" /> 
       <p>{{sitio.detalleContrib}} </p>
</div><!-- /.modal -->
</div><!-- /.modal -->
</div>