<br>
<ul class="list-group ">   
    <a  class="list-group-item active"><b>Información Adicional</b></a>
   {% if sitio.linea1 %}
    <li class="list-group-item formularios"><i>{{sitio.linea1}}</i>
    </li>
   {% endif %}
   {% if sitio.linea2 %}
    <li class="list-group-item formularios"><i>{{sitio.linea2}}</i>
    </li>
   {% endif %}
    <li class="list-group-item formularios"><i>Ultima Actualización: <b>{{sinc.fecha|date:"d/m/Y"}}    {{sinc.hora|time:"H:i"}}</b></i>
    </li>
</ul>

<ul class="list-group formularios">
    <a  class="list-group-item" href="{{STATIC_URL}}munis/{% if estudio %}manualEC.pdf{% else %}manualCP.pdf{% endif %}">
    <b>Descargar Instructivo <i class="glyphicon glyphicon-cloud-download pull-right"> </i></b></a>
</ul>

<ul class="list-group formularios">
    <a  class="list-group-item active botonesLogin" href="#modal_codigo" id="codigoInternet" role="button"><b>¿Cómo obtener el Código? <i class="glyphicon glyphicon-question-sign pull-right"></i></b></a>
</ul>


<!-- <ul class="list-group formularios">
    <a  class="list-group-item active" href="{{STATIC_URL}}/munis/{{dirMuni}}/manualCP.pdf"><b>Descargar Instructivo<i class="glyphicon glyphicon-cloud-download pull-right"> </i></b></a>
</ul>
 -->

<!-- <ul class="list-group formularios">
 {% if estudio %}
    <li class="list-group-item">Descargar instructivo <a href="{{STATIC_URL}}/munis/{{dirMuni}}/manualEC.pdf"><i class="glyphicon glyphicon-cloud-download  pull-right iconosTabla"> </i></a>
    </li>
    {% else %}
    <li class="list-group-item panel panel-primary"><strong>Descargar Instructivo</strong> <a href="{{STATIC_URL}}/munis/{{dirMuni}}/manualCP.pdf"><i class="glyphicon glyphicon-cloud-download pull-right iconosTabla"> </i></a>
    </li>
    {% endif %}
</ul> -->

